---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Plataforma para creación de ligas de football">
		<title>Arma tu Liga ⚽</title>
	</head>
	<body>
		<main class="h-screen flex justify-center flex-col gap-8 items-center text-center leading-relaxed">
			<h1 class="text-5xl">Arma tu Liga ⚽</h1>
			<p>Por Daniel Silva y Santiago Fierro</p>
		</main>
	</body>
</html>
